<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<nav>
    <form action="{% url 'core:filteredIndex' %}" method="post" class="date-form">
        {% csrf_token %}
        <div class="stats-component date-form-component">
            <label for="start">Początek</label>
            <input type="date" name="start_date" id="start" required>
        </div>
        <div class="stats-component date-form-component">
            <label for="end">Koniec</label>
            <input type="date" name="end_date" id="end" required>
        </div>
        <button type="submit" class="btn">Filtruj</button>
    </form>
</nav>

<body>
    <div class="row">
        {% block content %}
        
        {% endblock content %}   
    </div>
</body>
</html>