* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Roboto Mono';
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}




.main{
    text-align: center;
}






.stats{
    display: flex;
    justify-content: space-between;
    width: 55rem;
    margin: 2rem auto;
    font-size: 1.5rem;
}

.stats-component{
    padding: 1rem;
    background-color: #4658d4;
    border-radius: 1rem;
    color: white;
}





a img{
    width: 10rem;
}

a p{
    font-size: 1.75rem;
    color: black;
}

a{
    text-decoration: none;
}





.collected-data{
    font-size: 2rem;
    margin: 1rem auto;
    border-color: #4658d4;
    border-style: solid;
    border-radius: 1.5rem;
    width: 35rem;
    padding: 1rem;
    text-align: left;
}
