@media only screen and (max-width: 430px) {

    html, body {
        font-size: 7px;
    }

    .stats, .date-form{
        width: 50rem;
        align-items: center;
    }

    .stats-component{
        width: 15rem;
        margin-bottom: 1rem;
    }

    .btn{
        font-size: 1.5rem;
    }

    .chart-cont{
        width: 55rem;
    }

    .chart{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 340px) {

    html, body {
        font-size: 6px;
    }
}

@media only screen and (max-width: 300px) {

    html, body {
        font-size: 5.5px;
    }
}

@media only screen and (max-width: 276px) {

    html, body {
        font-size: 5px;
    }
}