{% extends 'base.html' %}
{% load static %}
{% block title %}Ciśnienie krwi{% endblock title %}

{% block content %}

<div class="main">

    <div class="stats">
        <div class="stats-component">
            <p>POMIARÓW</p>
            <p>{{data.count}}</p>
        </div>
        <div class="stats-component">
            <p>ŚREDNIE GÓRNE</p>
            <p>{{avg_sys|floatformat:"1"}}</p>
        </div>
        <div class="stats-component">
            <p>ŚREDNIE DOLNE</p>
            <p>{{avg_dia|floatformat:"1"}}</p>
        </div>
        <div class="stats-component">
            <p>ŚREDNI PULS</p>
            <p>{{avg_hr|floatformat:"1"}}</p>
        </div>
    </div>

    <a href="#" class="addBtn">
        <img src="{% static 'img/add.png' %}" alt="add">
    </a>

    {% if messages %}
    <div class="message">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}


    {% if len == 0 %}
    <h1>brak danych</h1>
    {% else %}
    
        {% for item in data %}
        <div class="collected-data">
            <div class="data-content">
                <p>{{item.timestamp|date:"d.m.Y G:i"}}</p>
                <p>{{item.systolic}}/{{item.diastolic}} mmHg puls {{item.hearth_rate}}</p>
            </div>
            <div class="data-options">
                <a href="#" class="editItemBtns">
                    <img src="{% static 'img/edit.png' %}" alt="edit">
                </a>
                <a href="#" class="deleteItemBtns" data-id="{{item.id}}">
                    <img src="{% static 'img/delete.png' %}" alt="delete">
                </a>
            </div>
        </div>

        <div class="popup-edit popup-edit-item{{item.id}}">
            <h1>Edycja wpisu {{item.systolic}}</h1>
            <form action="{% url 'core:editItem' item.id %}" method="post" class="newItemForm">
                {% csrf_token %}
                <input type="number" name="systolic" placeholder="Ciśnienie górne" required min="30" max="300" value="{{item.systolic}}">
                <input type="number" name="diastolic" placeholder="Ciśnienie dolne" required min="30" max="300" value="{{item.diastolic}}">
                <input type="number" name="hearth_rate" placeholder="Puls" required min="10" max="200" value="{{item.hearth_rate}}">
                <div>
                    <button type="submit" class="saveEditBtns btn">Zapisz</button>
                    <button type="button" class="cancelEditBtns btn">Anuluj</button>
                </div>
            </form>
        </div>

        <div class="popup-delete popup-delete-item{{item.id}}">
            <h1>Czy jesteś pewny, że chcesz usunąć ten wpis? {{item.systolic}}</h1>
            <form action="{% url 'core:deleteItem' item.id %}" method="post" class="newItemForm">
                {% csrf_token %}
                <div>
                    <button type="submit" class="confirmDelBtns btn">Usuń</button>
                    <button type="button" class="goBackBtns btn">Anuluj</button>
                </div>
            </form>
        </div>

        {% endfor %}

        <div class="pagination">
            {% if data.has_previous %}
                <a href="?page=1">&laquo; Pierwsza</a>
                <a href="?page={{ data.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ data.number }} z {{ data.paginator.num_pages }}.
            </span>

            {% if data.has_next %}
                <a href="?page={{ data.next_page_number }}">następna</a>
                <a href="?page={{ data.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </div>   
    {% endif %}

    <div class="popup">
        <h1>Nowy wpis</h1>
        <form action="{% url 'core:index' %}" method="post" class="newItemForm">
            {% csrf_token %}
            <input type="number" name="systolic" placeholder="Ciśnienie górne" required min="30" max="300">
            <input type="number" name="diastolic" placeholder="Ciśnienie dolne" required min="30" max="300">
            <input type="number" name="hearth_rate" placeholder="Puls" required min="10" max="200">
            <div>
                <button type="submit" class="saveBtn btn">Zapisz</button>
                <button type="button" class="cancelBtn btn">Anuluj</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
    
    