{% extends 'base.html' %}
{% load static %}
{% block title %}Ciśnienie krwi{% endblock title %}

{% block content %}

<div class="main">

    <div class="stats">
        <div class="stats-component">
            <p>POMIARÓW</p>
            <p>{{data.count}}</p>
        </div>
        <div class="stats-component">
            <p>ŚREDNIE GÓRNE</p>
            <p>{{avg_sys|floatformat:"1"}}</p>
        </div>
        <div class="stats-component">
            <p>ŚREDNIE DOLNE</p>
            <p>{{avg_dia|floatformat:"1"}}</p>
        </div>
        <div class="stats-component">
            <p>ŚREDNI PULS</p>
            <p>{{avg_hr|floatformat:"1"}}</p>
        </div>
    </div>

    <a href="#" class="addBtn">
        <img src="{% static 'img/add.png' %}" alt="add">
    </a>

    {% if messages %}
    <div class="message">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}


    
    {% if len == 0 %}
    <h1>brak danych</h1>
    {% else %}
    
        {% for item in data %}
        <div class="collected-data">
            <p>{{item.timestamp|date:"d.m.Y h:i"}}</p>
            <p>{{item.systolic}}/{{item.diastolic}} mmHg puls {{item.hearth_rate}}</p>
        </div>
        {% endfor %}
            
    {% endif %}

    <div class="popup" id="popup">
        <h1>Nowy wpis</h1>
        <form action="{% url 'core:index' %}" method="post" class="newItemForm">
            {% csrf_token %}
            <input type="number" name="systolic" placeholder="Ciśnienie górne">
            <input type="number" name="diastolic" placeholder="Ciśnienie dolne">
            <input type="number" name="hearth_rate" placeholder="Puls">
            <div>
                <button type="submit" class="saveBtn btn">Zapisz</button>
                <button type="button" class="cancelBtn btn">Anuluj</button>
            </div>
        </form>
    </div>

</div>




<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
    
    